.img{
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 24em;
    background: linear-gradient(90deg,#f00,#0ff);
    margin-bottom: 1em;
    padding-bottom: 3.5em;
   
    clip-path: polygon(26.93% 47.27%, 7.14% 32.00%, 11.43% 21.77%, 1.28% 12.68%, 1.2% 4.59%, 6.82% 0.4%, 100% 0%, 99.61% 81.59%, 81.13% 65.47%, 76.02% 55.65%, 71.58% 52.09%, 64.86% 55.16%, 58.22% 43.81%);
    animation: animation1 5s linear infinite;
}
.img img{
    position: absolute;
   top: 2%;
    right: 1%;
    animation: animation2 1S alternate infinite;
}
main{
    min-height: 1000px;
    padding: 2rem;
}

@keyframes animation1{
    0%{
        background: linear-gradient(30deg,#2adf06,#f10d0d);
        clip-path: polygon(29.66% 53.64%, 12.74% 44.5%, 5.43% 42.91%, 3.75% 27.23%, -1.01% 24.13%, 0.18% 0.86%, 100% 0%, 99.61% 81.59%, 88.81% 33.65%, 65.99% 25.2%, 52.44% 13.92%, 52.36% 36.52%);
     }
     50%{
        background: linear-gradient(130deg,#d3121b,#b410d1);
        clip-path: polygon(27.92% 48.23%, 8.31% 34.95%, 12.47% 22.91%, 1.8% 28.91%, 2.36% 8.22%, 7.82% 1.45%, 100% 0%, 99.61% 81.59%, 83.7% 66.01%, 77.44% 56.38%, 72.39% 54.37%, 65.85% 56.93%);

     }
     100%{
        background: linear-gradient(90deg,#272302,#e4a1f0);
        clip-path: polygon(29.66% 53.64%, 12.74% 44.5%, 5.43% 42.91%, 3.75% 27.23%, -1.01% 24.13%, 0.18% 0.86%, 100% 0%, 99.61% 81.59%, 88.81% 33.65%, 65.99% 25.2%, 52.44% 13.92%, 52.36% 36.52%);

     }
}

@keyframes animation2{
    from{
        filter: hue-rotate(0deg);
    }
    to{
        filter: hue-rotate(360deg);
    }
}

#Dark{
    color: black;
}
#light{
    color: #fff;
}